.idea/
S4Ep9(Regression For Used Cars)/datasets/exel_summaries.xlsx
S4Ep9(Regression For Used Cars)/datasets/sample_submission.csv
S4Ep9(Regression For Used Cars)/datasets/test.csv
S4Ep9(Regression For Used Cars)/datasets/train.csv
S4Ep9(Regression For Used Cars)/datasets/cleaned_train_data/train_data.csv
S4Ep10(Loan Approval Prediction)/datasets/train.csv
S4Ep10(Loan Approval Prediction)/datasets/test.csv
S4Ep10(Loan Approval Prediction)/datasets/sample_submission.csv
